<div class="row" *ngIf="message !== ''">
    <div class="col-sm-4 alert alert-danger">
        {{message}}
    </div>
</div>
<div class="row form-group m-1">
    <div class="col-sm-4">
        Name:
    </div>
    <div class="col-sm-4">
        <!-- <input type="text" name="name" #name class="form-control"> -->
        <input type="text" name="name" [(ngModel)]="name" class="form-control">
        <!-- {{name}} -->
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <!-- <button class="btn btn-info" (click)="addFriend(name.value)">Add</button> -->
        <button class="btn btn-info" (click)="addFriend()" *ngIf="! isUpdate">Add</button>
        <button class="btn btn-info" (click)="updateFriend()" *ngIf="isUpdate">Update</button>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <table class="table table-bordered bg-dark text-white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nm of friendList;let i=index">
                    <td>{{nm}}</td>
                    <table>
                        <button class="btn btn-success m-1"  (click)="edit(i)">Edit</button>
                        <button class="btn btn-danger m-1"  (click)="delete(i)">Delete</button>
                    </table>
                </tr>
            </tbody>
        </table>
    </div>
</div>