<app-my-table
    [dataList]="itemList"
    [headerList]="headerList"
    [columnList]="columnList"
    [cardHeader]="'Manage Items'"
    [bgColor]="'warning'"
    [textColor]="'success'"
>
</app-my-table>
<!-- <div class="card">
    <div class="card-header bg-dark text-white">
        Manage Items
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item #</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>             
            </thead>
            <tbody>
                <tr *ngFor="let item of itemList">
                    <td>{{item.id}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->