<div class="row form-group">
    <div class="col">
            <form #f=ngForm (ngSubmit)="save()">
                <div class="row form-group">
                    <div class="col-sm-4">Id :</div>
                    <div class="col-sm-4">
                        <input type="text" name=id [(ngModel)]="service.id" class="form-control" [readonly]="editId !== 0"/>
                        <!-- {{editId}} -->
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">Code :</div>
                    <div class="col-sm-4">
                        <input type="text" name=code [(ngModel)]="service.code" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">Description :</div>
                    <div class="col-sm-4">
                        <input type="text" name=description [(ngModel)]="service.description" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">Basic Quote Price :</div>
                    <div class="col-sm-4">
                        <input type="text" name=basicQuotePrice [(ngModel)]="service.basicQuotePrice" class="form-control" />
                    </div>        
                </div>    
                <div class="row form-group">
                    <div class="col-sm-4">
                        <button class="btn btn-info" type="submit" *ngIf="editId === 0">Save</button>
                        <button class="btn btn-info" type="button" (click)="update()" *ngIf="editId !== 0">Update</button>
                    </div>
                </div>
            </form>
    </div>
</div>
