<div class="card">
    <div class="card-header bg-success">
        Personal Information
    </div>
    <div class="card-body">
        <table class="table table-bordered bg-dark text-info">
            <tr>
                <th>Name</th>
                <td>{{person.name}}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{person.dob}}</td>
            </tr>
            <tr>
                <th>Mobile No</th>
                <td>{{person.mobileNo}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{person.email}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{person.gender}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{person.address}}</td>
            </tr>
        </table>
    </div>
</div>