<div class="row form-group">
    <div class="col">
        <app-course-entry [course]="course" [isUpdate]="isUpdate" (actionStatus)="getActionStatus($event)"></app-course-entry>
    </div>
</div>
<div class="row form-group">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Course Name</th>
                    <th>Fees</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courseList">
                    <td>{{course.id}}</td>
                    <td>{{course.code}}</td>
                    <td>{{course.courseName}}</td>
                    <td>{{course.fees}}</td>
                    <td>
                        <button class="btn btn-success m-1" (click)="edit(course.id)">Edit</button>
                        <button class="btn btn-danger m-1" (click)="delete(course.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
