<app-my-table
    [dataList]="studentList"
    [headerList]="headerList"
    [columnList]="columnList"
    [cardHeader]="'Manage Student'"
    [bgColor]="'dark'"
    [textColor]="'info'"
>
</app-my-table>
<!-- <div class="card">
    <div class="card-header bg-dark text-white">
        Manage Students
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Roll #</th>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Email</th>
                </tr>             
            </thead>
            <tbody>
                <tr *ngFor="let student of studentList">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.mobileNo}}</td>
                    <td>{{student.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->